* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  outline: 0;
}

html,
body,
#root {
  height: 95%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #05050569;
  -webkit-font-smooothing: antialiased !important;
  max-width: 800px;

  margin: 0 auto;
}
